# cache, phpstorm directories
*Thumbs.db
*.DS_Store
*.empty

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> docker ###
/docker-compose.override.yaml
/docker-compose.override.yml
/.docker/.mysql-data/
###< docker ###
